<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ruby Intro App</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	</head>
	<body>
		<a href="/" class="header-logo">
			<img src="/image/logo_b.png" alt="A logo">
		</a>
		<div class="container">
			<div class="content">
				<h1>Sinatra Sample App</h1>  
				
				<p>Click the <a href"https://wikipedia.org/wiki/Sator_square">Sator Square</a> below to run the customer <a href="/palindrome">Palindrome Detector</a></p>

				<a class="sator-square" href="palindrome">
					<img src"/images/sator_square.jpg">
				</a>
				<p>
					Completed by Kyle Vonderwerth, github.com/TileThePlane
				</p>
			</div>
		</div>
	</body>
</html>
