<h1>Sinatra Sample App</h1>  
		
<p>Click the <a href"https://wikipedia.org/wiki/Sator_square">Sator Square</a> below to run the customer <a href="/palindrome">Palindrome Detector</a></p>
<a class="sator-square" href="palindrome">
<img src"/images/sator_square.jpg">
</a>
<p>
Completed by Kyle Vonderwerth, github.com/TileThePlane
</p>

